{% extends 'base.html' %}

{% block title %} Log In {% endblock title %}

{% block header %}
    <div class = "text-center mt-4">
    
    <h1 class = "text-center">Log In Here</h1>
{% endblock header %}

{% block content %}
<div class = "container">
    <div class = "row justify-content-center">
        <div class = "col-md-6">
            <form method = "post" action="/login" class = "mt-4">
                {{ form.csrf_token }}
                <div class = "mb-3">
                    {{ form.username.label_tag }}
                    {{ form.username(class='form-control highlight-hover', placeholder='Enter Username') }}
                </div>
                <div class = "mb-3">
                    {{ form.password.label_tag }}
                    {{ form.password(class='form-control highlight-hover', placeholder='Enter Password') }}
                </div>
                <button type = "submit" class = "btn btn-dark w-100 btn-hover">Log In</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}